server {
    listen       80;
    server_name  localhost;
    root   /usr/share/nginx/html;
    index  index.html index.htm;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/ $uri.html /index.html;
        set $VITE_API_URL "${VITE_API_URL}";
    }

}