DATABASE_URL=postgres://postgres:postgres@db:5432/motticon
FRONTEND_URL=http://localhost:3000
PORT=4000
JWT_SECRET_KEY=
PASSWORD_SIGNING_KEY=
VISION_KEY=
VISION_ENDPOINT=

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=
R2_ROOT_DIRECTORY=
