@use "../variables" as *;
@use "bootstrap/scss/bootstrap" as bootstrap;

::selection {
  color: $primary;
  background: bootstrap.$dark;
}

.cursor-pointer {
  cursor: pointer;
}

.staff-accordion {
  .accordion-button {
    padding-left: 0;
    padding-right: 0;
  }

  // .accordion-button:not(.collapsed) {
  //   background-color: bootstrap.$info;
  // }
}

.big-spinner {
  width: 5rem;
  height: 5rem;
}