.horizontal-card {
  border-radius: 0.75rem;
  .horizontal-card-body {
    padding: 0.5rem 0;
  }

  .horizontal-card-title {
    font-size: 3rem;
  }
  .horizontal-card-title-small {
    font-size: 1.5rem;
  }

  .horizontal-card-icon {
    font-size: 5.2rem;
  }
}
