.result-entry-radio-group {
  .btn {
    background-color: $gray-200;
    border: none;
    &:hover {
      background-color: $gray-400;
    }
  }

  .btn-check:checked + .btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check) + .btn:active {
    &.primary {
      background-color: $primary !important;
    }
    &.info {
      background-color: $info !important;
      color: $light;
    }
  }
}
