@use "../variables" as *;
@use "bootstrap/scss/bootstrap" as bootstrap;

:root {
  --toastify-color-success: #{bootstrap.$success};
  --toastify-color-info: #{$info};
  --toastify-color-warning: #{$primary};
  --toastify-color-error: #{bootstrap.$danger};

  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
}