// Our custom variables
$primary: #fdcb6e;
$info: #cb6efd;
$tertiary: #6efdcb;

$table-bg-scale: -20%;
$table-striped-order: odd;
$table-striped-bg-factor: 0.03;

$card-spacer-y: 0.5rem;
$card-spacer-x: 0.5rem;