$primary: #fdcb6e;

$table-bg-scale: -20%;
$table-striped-order: odd;
$table-striped-bg-factor: 0.03;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// import components
@import "./components/general.scss";
@import "./components/navigation.scss";
@import "./components/inputs.scss";
@import "./components/forms.scss";
@import "./components/cube.scss";
@import "./components/toastify.scss";
@import "./components/bootstrap-calendar.scss";
@import "./components/horizontal-card.scss";
@import "./components/icon-stack.scss";
@import "./components/table.scss";
@import "./components/progress-bar.scss";
@import "./components/countdown-timer.scss";
