@use "./variables" as *;
@use "bootstrap/scss/bootstrap" with ($primary: $primary,
  $info: $info,
  $table-bg-scale: $table-bg-scale,
  $table-striped-order: $table-striped-order,
  $table-striped-bg-factor: $table-striped-bg-factor,
  $card-spacer-y: $card-spacer-y,
  $card-spacer-x: $card-spacer-x);

// Use components with namespaces
@use "./components/general";
@use "./components/navigation";
@use "./components/inputs";
@use "./components/forms";
@use "./components/cube";
@use "./components/toastify";
@use "./components/bootstrap-calendar";
@use "./components/horizontal-card";
@use "./components/icon-stack";
@use "./components/table";
@use "./components/progress-bar";
@use "./components/countdown-timer";
@use "./components/imagedraw";
@use "./components/popover";